<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../js/dog.js"></script>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body id="bckFix" style="background-color:#F5F5F5">

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CCREZQ</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/viewdirectors">View Directors</a></li>
          <li><a href="/viewfosters">View Fosters</a></li>
          <li><a href="/viewdogs">View Dogs</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="viewDogContainer">
    <div class="container-fluid">

      <% data.dog.forEach(function(item){ %>
    <div class="row">
      <div class="col-md-12">
          <h1 class="pageHeading"><%= item.name %></h1><br/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
              <img src="https://i.imgur.com/CgSj6pu.jpg" style="width:55%; margin:0 auto; display:block; border-radius: 50%;">
              <center>
              <h1> About: </h1>
              <h4>Breed: <%= item.breed %> </h4>
              <h4>Age: <%= item.age %> years </h4>
              <h4>Gender: <%= item.gender %> </h4>
              <h4>Foster Owner: <%= item.fosterID %> </h4>
              <div class="col-md-12">
                <button type="button" id="postEdit" class="btn btn-default toggleButtonActive logSubmit">Edit <%= data.dog.name %> </button>
              </div>
              </center>
          </div>
        </div>
      </div>
      <% }); %>
        <div class="col-md-6" style="max-height:79vh; overflow-y:auto;">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                  <div class="col-md-6">
                    <h1><center>Updates</center></h1>
                  </div>

                  <div class="col-md-6">
                    <button type="button" id="postUpdate" class="btn btn-default toggleButtonActive logSubmit">New Post</button>
                  </div>
              </div>
            </div>
          </div>


          <% data.updates.forEach(function(item){ %>
          <div class="panel panel-default">
            <div class="panel-body">
                <h3> <%= item.recordType %>: </h3>
                <h4>Date: <%= item.date %> </h4>
                <h4>Details: <%= item.updateDesc %> </h4>
            </div>
          </div>
          <% }); %>
        </div>


  </div>

  <!-- Modal -->
  <div class="modal fadeloginForm" id="postUpdateModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Post an update</h4>
        </div>
        <div class="modal-body">
          <form id="dogUpdate" action="/postUpdate" method="post">
            <h2><center>Enter the fields below to post an update.</center></h2>
            <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
              <label for="date">Date:</label>
              <input type="date" class="form-control" id="updateDate" name="date">
            </div>
            <div class="form-group">
              <label for="desc">Description::</label>
              <textarea class="form-control" id="desc" name="desc"></textarea>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="submitUpdate" class="btn btn-default toggleButtonActive logSubmit">Post Update</button>
        </div>
      </div>

    </div>
  </div>


  <!-- Modal -->
  <div class="modal fadeloginForm" id="postEditModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Doggo</h4>
        </div>
        <div class="modal-body">
          <form action="/editDoggo" method="POST">
                  <div class="form-group">
                    <h2><center>Enter the fields below to edit this dog</center></h2>                    <div class="form-group">
                      <label for="breed">Breed:</label>
                      <input type="text" class="form-control" id="breed" name="breed">
                    </div>
                  <div class="form-group">
                    <div class="col-2">
                    <label for="age">Age:</label>
                    <input type="number" class="form-control" id="age" name="age">
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="gender">Gender:</label><br/>
                    <input type="radio" name="gender" value="male"> Male<br>
                    <input type="radio" name="gender" value="female"> Female<br>
                  </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="submit" id="submitEdit" class="btn btn-default toggleButtonActive logSubmit">Submit Edit</button>
        </div>
      </div>

    </div>
  </div>


  <div class="footer">

  </div>

</body>
</html>
